@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

html,
body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
